// reset
body {
    overflow-x: hidden;
    transform-style: preserve-3d;
}

 h2,h1 {
     font-size: 45px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }
li {
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.container-fluid {
    padding: 0;
}
#app{
    width: 100vw;
}
/** Light CSS */
/* animation */
.animated {
    animation-duration: 1.5s;
    animation-iteration-count: linear;
    animation-delay: 1s;
    animation-play-state: paused;
}
.active {
    -webkit-animation: slide 20s linear infinite;
    animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes slide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


// Menu
.navbar-brand img {
    width:65%;
    
}
#navbarSupportedContent>ul.navbar-nav.ml-auto>li>a:hover{
    color:$green;
}
nav{
    padding:0!important;
    width: 100vw!important;
}

.nav-item{
    @include breakpoint(mobileonly) {
        margin-left:15px;
    }
}
.navbar {
    width: 100%;
    padding: 0;
    //  position: sticky;
    //  position: -webkit-sticky;
     top: 0;
     left: 0;
     z-index: 80;
     background-color: $lightgrey;
     border-bottom: $green 1px solid;
     li{
         font-size:1.1rem;
     }
}

// Section Slider
.carousel-item {
    left:-5px;
}
.slider,
.slider img {
    position:relative;
    max-width: 100%;
    max-height:92vh;
     z-index: 8;
}

// section info
#info{
    width:100%;
    background-color: $lightgrey;
    .info{
      text-align: center;
      font-size:30px;
      padding:40px;
    }
}


// Section A Propos
#aboutMe {
    
    padding:40px 0;
    display: block;
    position: relative;
    background-color: white;
    z-index: 1;
    width:100%;
    .aboutMe{
        text-align: center;
    }
}

// Carroussel Indicator
.carousel {
    top:0;
    left: 0;
    margin: -5px;
    max-height: 100vh !important;
    overflow-y: auto;
}
.carousel-control-prev,
.carousel-control-next {
   
    z-index: 10 !important;
}
ol.carousel-indicators {
    position: absolute;
    bottom: 5px;
    margin: 10;
    left: 0;
    right: 0;
    width: auto;
    top: 90%;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 22px;
    // height: 10px;
    margin: 0 .5em;
    background: transparent;
    border-radius: 70%;;
}

ol.carousel-indicators li {
    background: rgba(255, 255, 255, 0.39);

}

ol.carousel-indicators li.active {
    background: white;

}

.chevron {
    font-size: 25px;
    background-color: transparent;
    text-align: center;
    color: white;
    width: 40px;
    height:40px;
    

    .fa-chevron-left {
        position: relative;
        top: -4px;
        left: -4px;
    }

    .fa-chevron-right {
        position: relative;
        top: -4px;
        left: 4px;
    }
}

.carousel-caption {
    top: 34%;
    z-index: 10;

    h5 {
        font-size: 50px;
    }
}

// Button  darktheme
#darkTrigger {
    a{
       padding:7px !important; 
    }
    
    .btn{
        border-radius: 50%;
        font-size:15px;
        border-style: none;
    }
}
// tech
.section-title{
    width: 100%;
    text-align: center;
    
}
#tech{
    padding-top: 40px;
}
// slideshow

.slideshow {
    width: 80%;
    height: 200px;
    overflow: hidden;
    margin-top:55px;

}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    flex-wrap: nowrap;
    height:105px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    @include breakpoint(mobileonly) {
       align-content: center; 
    }
}

.slideshow li {
    float: left;
    margin:15px;
    img{
        width:95px;
    }
}



// Section Contact
#contact {
    background-color: white;
    min-height: 100vh;
    padding: 40px 0;
    color: $black;
}

.contact {
    padding: 25px;
}

.titleContact {
    text-align: center;
}

.input-group-addon {
    border: 1px solid $grey;
    align-content: center;
    text-align: center;
    font-size: 22px;
    width: 35px;
}

.info-contact {
    border: 1px solid $darkgrey;
    padding: 35px;
    .blocFormContact button {
    background-color: $green;
}
}

.contact-info {
    h3 {
        font-size: 17px;
        font-weight: bold;
    }

    .from-left {
        margin-right: 10px;
    }

    hr {

        background-color: white;
        width: 70%;
        position: relative;
        left: -60px;
    }
    a{
        color:white;
        &:hover{
            color:$green;
            text-decoration: none;
        }
    }
}

// skill Bar


.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

// Section Services
#services {
    background-color: $lightgrey;
    padding-bottom: 40px;
    @include breakpoint(mobileonly) {
       text-align: center;
    }
    .discribe {
        text-align: center;
    }

    .idea {
        background-color: white;
        font-size: 25px;
        opacity: 0.9;
        text-align: center;
    }

    img {
        width: 80%;
        margin: 70px 35px;
    }

    .services {
        text-align: center;
        font-weight: bold;
        padding:20px 0;

        h2 {
            font-size: 45px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        }
    }

    .groupIconLeft,
    .groupIconRight {
        width: 65px;
        height: 65px;
        border: 2px solid $green;
        border-radius: 50%;
        color: $green;
        background-color: transparent;
        font-size: 38px;
        align-items: center;
        text-align: center;
        @include breakpoint(mobileonly) {
            display:none;
        }
    }

    .groupIconLeft:hover,
    .groupIconRight:hover {
        border: 2px solid $lightgrey;
        color: $lightgrey;
        background-color: $green;
    }

    .groupIconLeft {
        position: relative;
        top: 55px;
        left: 85%;
    }

    .groupIconRight {
        position: relative;
        top: 55px;
    }

    h4 {
        color: $green;
    }
}
// Section portfolio
figure.snip {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
    min-height: 245px;
}

figure.snip *,
figure.snip *:before,
figure.snip *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

figure.snip img {
    max-width: 110%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
    object-fit: contain;
    position: relative;
    left: 0;
    top: 45px;
    transform: scale(1.6);
}

figure.snip .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
}

figure.snip .title:before,
figure.snip .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.snip .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

figure.snip .title div:before,
figure.snip .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

figure.snip .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

figure.snip h2,
figure.snip h4 {
    margin: 0;
    text-transform: uppercase;
}

figure.snip h2 {
    font-weight: 400;
}

figure.snip h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

figure.snip figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

figure.snip figcaption p {
    margin: 0;
}

figure.snip a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.snip:hover img,
figure.snip.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}

figure.snip:hover .title:before,
figure.snip.hover .title:before,
figure.snip:hover .title:after,
figure.snip.hover .title:after,
figure.snip:hover .title div:before,
figure.snip.hover .title div:before,
figure.snip:hover .title div:after,
figure.snip.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.snip:hover .title:before,
figure.snip.hover .title:before,
figure.snip:hover .title:after,
figure.snip.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.snip:hover figcaption,
figure.snip.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
#portfolio{
    height: 100%;
    padding: 40px 0;
    background-color: $lightgrey;
}
.portfolio{
    text-align: center;
    height: 100%;
}
.port{
    width:100% ;
    height: 100%;
}


// Section footer
.reseaux{
    text-align: center;
    width: 100%;
}
.reseaux li {
    border-radius:50%;
    width: 40px;
    height: 40px;
    background-color: $green;
    margin-left:15px;


}
.reseaux li a{
    color:white;
    font-size:25px;
    margin:0 auto;
    padding:0;

}
#footer {
    background-color: $lightgrey;
    width: 100%;
    padding-top:25px;
  h5{
       color:$green;
   }

}
.res{
    text-align: center;
    h4{
       font-family: "Anurati";
   }
}

.footerWidget{
    text-align: center;
    p span>a{
        text-decoration: none;
        color:white;
        &:hover{
            color:$green;
        }
    }
    
}
.copy {
    text-align: center;
    justify-content: center;

}
// ancre
.ancre{
    transform:translateZ(0) ;
    border-radius:50%;
    position: fixed;
    // top: 80%;
    // left:85%;
    bottom:60px;
    right:60px;
    border:2px solid $green;
    width:50px;
    height: 50px;
    text-align: center;
    z-index: 7;
    // align-items: center;
    font-size:30PX;
    background-color: transparent;
    color:$green;
}