/** Dark CSS */

.dark {
    color: #ffffff;
    .navbar {
        background-color: $darkgrey;
        a{
            color:white;
        }
    }
    hr{
        background-color: white;
    }
    
    button {
        background: $darkgrey;
        color: white;
    }

    #contact {
        background-color: $black;

        color: white;
    }

    .input-group-addon {
        border: 1px solid white;
        
    }

    .info-contact {
        padding: 35px;
        background-color: $darkgrey;
    }

    .contact-info hr {
        color: white;
        background-color: white;
        width: 70%;
        position: relative;
        left: -60px;
    }
    #tech{
        background-color: $black;
        h3{
            color:white;
        }
    }

    #services
     {
        
        background-color: $darkgrey;
        .idea {
            color: black
        }
        .groupIconLeft:hover,
        .groupIconRight:hover {
            border: 2px solid $darkgrey;
            color: $darkgrey;
            background-color: $green;
        }
    }
    #aboutMe{
        background-color: $black;
    }
    #footer,
    #info,
    #portfolio {
        background-color: $darkgrey;
    }
}