/** Light CSS */
// menu
.navbar-brand span {
    font-family: "Anurati";
}
.navbar{
    width:100%
}.navbar{
    position:fixed;
    z-index: 5;
}
// Section Slider
.slider img {
 width: 100%;
 max-height: 100vh;
}
//  effet parallax
.main-container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax-container {
    // display: flex;
    // flex: 1 0 auto;
    position: relative;
    left:0;
    top:0;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.content-container {
    display: block;
    position: relative;
    background-color: white;
    z-index: 1;
}
// carroussel indicator
.carousel {
    left:0;
    margin:-5px;
}
ol.carousel-indicators {
    position: absolute;
    bottom: 5px;
    margin: 10 ;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 1rem;
    height: 1rem;
    margin: 0 .5em;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
}

ol.carousel-indicators li {
    background: rgba(255, 255, 255, 0.39);

}

ol.carousel-indicators li.active {
    background: white;
   
}
.chevron {
    font-size:35px;
    background-color:transparent;
    border-radius:50%;
    text-align: center;
    color:white;
    width:45px;
    height: 45px;
    border: 2px solid white;
    .fa-chevron-left {
        position: relative;
        top: -4px;
        left:-4px;
    }
    .fa-chevron-right {
        position: relative;
        top: -4px;
        left: 4px;
    }
}
.carousel-caption {
    top:34%;
    h5 {
        font-size:50px;
    }
}
// bouton  darktheme
#darkTrigger{
    position:fixed;
    top:55px;
    left:0;
}
// Section contact
#contact {
    background-color: white;
    min-height: 100vh;
    padding: 45px 0;
    color: $black;
}

.contact {
    padding: 25px;
}

.titleContact {
    text-align: center;
}

.input-group-addon {
    border: 1px solid $grey;
    align-content: center;
    text-align: center;
    font-size: 22px;
    width: 35px;
}

.info-contact {
    border: 1px solid $darkgrey;
    padding: 35px;
}

.contact-info {
    h3{
        font-size:17px;
        font-weight: bold;
    }
    .from-left{
        margin-right: 10px;
    }
    hr {

        background-color: white;
        width: 70%;
        position: relative;
        left: -60px;
    }
}